.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 470px) {
  .photo-grid {
    max-width: 288px;
    margin-bottom: 64px;
  }
}
